#menu-wrap {}

.menu-toggle {
    background: #eee;
    border: 1px solid #aaa;
    margin-top: 5px;
    display: none;
    height: 100%;
    width: 100%;
    transition: all ease 0.5s;
    position: relative;
}

.menu-toggle.open {
    display: block;
    height: 200px;
    width: 300px;
    transition: all ease 0.5s;
}

#menu-wrap ul {
    list-style-type: none;
    margin-left: -20px;
}

.menu {
    display: none;
}

.menu.open {
    display: block;
}

#menu-wrap ul li a {
    text-decoration: none;
    color: #444;
}


/* ////////// */

