@import "variables";
header {
    background: $gray-100; // NavBar Menu
    nav.bg-light {
        background: transparent !important;
        padding: 15px 40px;
        z-index: 1;
    }
    .navbar {
        li.nav-item {
            padding: 0 10px;
            .nav-link {
                text-transform: uppercase;
                color: $white !important;
            }
        }
    } // Slideshow
    div#carouselExampleIndicators {
        margin-top: -70px;
        min-height: 900px;
        .carousel-item img {
            width: 100%;
        }
        .carousel-caption {
            width: 700px;
            text-align: left;
            bottom: 0;
            top: 18%;
            @media (max-width: 768px) {
                width: auto;
            }
            h3 {
                text-transform: uppercase;
                font-weight: 900;
                font-size: 36px;
                padding-bottom: 10px;
            }
            p {
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
            a.btn.btn-primary {
                width: 125px;
                padding: 8px 20px;
                border: none;
                border-radius: 30px;
                text-transform: uppercase;
            }
            .or {
                margin: 0 15px;
            }
            a.btn.btn-link {
                color: $white;
                text-transform: uppercase;
                border-bottom: 1px dotted;
                padding: 0;
            }
        }
        .carousel-control {
            position: absolute;
            min-height: 0px;
            bottom: 50px;
            width: 70px;
            margin-left: 40px;
            .carousel-control-prev,
            .carousel-control-next {
                width: auto;
            }
            .carousel-control-prev-icon {
                background: url('/public/img/icons/004-right-arrow.svg');
            }
        }
        .carousel-indicators {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 0;
            bottom: 50px;
            left: 0;
            z-index: 15;
            padding-left: 0;
            margin-right: 40px;
            margin-left: 15%;
            list-style: none;
            li {
                position: relative;
                flex: 0 1 auto;
                width: 8px;
                height: 8px;
                margin-right: 5px;
                margin-left: 5px;
                text-indent: -999px;
                background-color: $white;
                border-radius: 50%;
                &.active {
                    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.55)
                }
            }
        }
    }
}